.navbtn {
    padding: 5px;
}

.gradient-button {
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: 25px;
    padding: 15px;
    border-radius: 15px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(0, 128, 255) 0%, rgb(82, 3, 255) 100%);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    border: 0px solid rgb(28, 110, 164);
    display: inline-block;
}

.gradient-button:hover {
    background: #0080FF;
}

.gradient-button:active {
    background: #5203FF;
}

#jumbotron {
    text-align: center;
}

#workspace {
    margin-left: 20px;
    margin-right: 20px;
}

#footer {
    background-color: #E9ECF0;
}