.navbtn {
    padding: 5px;
}

.btn-danger {
    background-color: #EB4034;
}

.gradient-button {
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: 25px;
    padding: 15px;
    border-radius: 15px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, #FF271F 0%, #FF972A 100%);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    border: 0px solid #E60800;
    display: inline-block;
}

.gradient-button:hover {
    background: #E60800;
}

.gradient-button:active {
    background: #FF972A;
}

#workspace {
    margin-left: 100px;
    margin-right: 100px;
}

.jumbotron {
    text-align: center;
    color: #282E33;
    background-image: url("../resources/ExhibitJumbo.png");
    background-position: 0px -100px;
    background-size: cover;
}

#footer {
    background-color: #282E33;
    color: white;
}

.content-link:link {
    color: #EB4034;
    font-weight: bold;
}
.content-link:hover {
    color: #b82f25;
    font-weight: bold;
}
.content-link:visited {
    color: #EB4034;
    font-weight: bold;
}
.content-link:active {
    color: #b82f25;
    font-weight: bold;
}

.footer-link:link {
    color: #FFAF38;
}
.footer-link:hover {
    color: #FF9B05;
}
.footer-link:visited {
    color: #FFAF38;
}
.footer-link:active {
    color: #FF9B05;
}

#aaisha-icon {
    width: 220px;
    padding-bottom: 20px;
}

#ceara-icon {
    width: 200px;
    padding-top: 30px;
}

.portfolio {
    text-align: center;
    margin-left: 350px;
    width: 210px;
    height: 480px;
    border: 2px solid #FFAF38;
    border-radius: 10px;
}

.downloads-divider {
    width: 100%;
    border-width: 2px;
    text-align: center;
    color: black;
}